<div class="container">
  <div class="jumbotron bg-dark text-danger border border-danger">
    <h1 class="text-center">Union-Jack Mongo Scraper!</h1>
    <p class="text-center">Get your news fast! Courtesy of the BBC!</p>
    <hr>
    <div class="buttons text-center">
      <button class="btn btn-primary scrape text-white m-1" role="button">Scrape New Articles!</button>
      <a href="/saved"><button class="btn btn-secondary saved text-white m-1" role="button">Saved Articles!</button></a>
      <button class="btn btn-danger clear text-white m-1" role="button">Clear Articles!</button>
    </div>
  </div>
  <div class="row border border-danger bg-dark m-1 p-1">
    <div class="col-lg-12 border border-danger artHeader text-white text-center">
      <h2 class="text-center text-danger bg-dark">Articles:</h2>
    </div>
    {{#each stories}}
    <div class="col-lg-4 articles">
      <div class="card m-2 border border-primary">
        <div class="card-body">
          <a href="{{url}}" target="_blank"><h3 class="card-title">{{headline}}</h3></a>
          <hr>
          <h4 class="card-text">{{summary}}</h4>
          <button class="btn btn-warning save" data-id="{{_id}}">Save Article!</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>